services:
  api:
    build: .
    container_name: api-project
    restart: always
    ports:
      - "3001:3000"
    env_file:
      - .env
    depends_on:
      - db
    command: npm run dev

  db:
    image: postgres:16
    container_name: api-project-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: weatherdb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  postgres_data:
