name: CI (Integracao Continua)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Codigo
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Instalar PNPM
        run: npm install -g pnpm

      - name: Instalacao de Dependencias
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Rodar Testes
        run: pnpm test
